[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = huynhvanvuong91
	email = 32187190+huynhvanvuong91@users.noreply.github.com
